body{
  height: 100vh;
  margin:0;
  padding:0;
  font-family: 'Roboto';
  font-weight: 400;
  overflow: hidden;
  max-height:100%;
  max-width:100%;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-bold';
  src: url('/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Roboto-light';
  src: url('/fonts/Roboto-Light.ttf');
}

text{
  fill:#8E8883
}
